@import "tailwindcss";
@import "tw-animate-css";

.slanted-right::after {
    content: '';
    position: absolute;
    top: 0;
    right: -25px;       /* Adjusted for cleaner overlap */
    width: 60px;        /* Slightly wider triangle */
    height: 100%;
    background-color: #e5392c;
    transform: skewX(-20deg);
    z-index: 1;
  }
  .clip-top-shape {
    clip-path: polygon(0 0, 100% 0, 75% 100%, 25% 100%);
  }
  
  .clip-bottom-shape {
    clip-path: polygon(25% 0%, 75% 0%, 100% 100%, 0% 100%);
  }
  .red-left-shape-1 {
    clip-path: polygon(55% 100%, 100% 100%, 100% 0%);
  }
  
  .red-left-shape-2 {
    clip-path: polygon(0 0, 100% 0, 68% 100%, 0% 100%);
  }
  